<ion-card>
  <ion-card-header>
      <img src="assets/imgs/user.png" />
  </ion-card-header>
  <ion-card-content>
      <ion-list >
          <button ion-item>
              <ion-icon name="cart" item-start></ion-icon>
              Shopping
            </button>
        
            <button ion-item>
              <ion-icon name="medical" item-start></ion-icon>
              Hospital
            </button>
        
            <button ion-item>
              <ion-icon name="cafe" item-start></ion-icon>
              Cafe
            </button>
        
            <button ion-item>
              <ion-icon name="paw" item-start></ion-icon>
              Dog Park
            </button>
        
            <button ion-item>
              <ion-icon name="beer" item-start></ion-icon>
              Pub
            </button>
        
            <button ion-item>
              <ion-icon name="planet" item-start></ion-icon>
              Space
            </button>
          <!-- <ion-item menuClose detail-none>First1</ion-item> -->
          
        </ion-list>
  </ion-card-content>
</ion-card>




<!-- <ion-header>
  <ion-toolbar>
    <ion-title>标题</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item menuClose detail-none>First</ion-item>
    <ion-item menuClose detail-none>First</ion-item>
    <ion-item menuClose detail-none>First</ion-item>
    <ion-item menuClose detail-none>First</ion-item>
  </ion-list>
</ion-content>
<ion-card>
  <img src=""/>
  <ion-card-content>
    <ion-card-title>
      
    </ion-card-title>
    <p>
      
    </p>
  </ion-card-content>
</ion-card>
 -->
